{%extends "dashboard/base.html" %}
{% block content %}
<h1>About Page</h1>

    {% if request.user.is_staff %}
        <h1>You are a Certifer</h1>
    {%elif request.user.is_authenticated %}
       <h1>You are a Student</h1>
    {%else%}
        <p>
            VABT or Veteran Affairs Benefit Tracker is a interactive website to track
            and apply for your NMSU benefits. Once issued an account you can login and 
            upload the necessary files to apply for your designated chapter benefits.
        </p>

    {% endif %}

{% endblock content%}

