{%extends "dashboard/base.html" %}

{% block content %}
    <h1> Contact Page </h1>
    <h2> Design Team: </h2>
    <address>
        <weak>Design:</weak> <a href="mailto:jcrans@nmsu.edu">Joshua Rosencrans</a><br />
        <weak>Implementation:</weak> <a href="mailto:">Ian Navarro</a><br />
        <weak>Back end Development:</weak> <a href="mailto:">Christian McGovern</a><br />
        <strong>MVP Office Information</strong><br /> 
        <strong>Phone Number:</strong> 575-646-4524<br />
        <strong>Email:</strong> mvp@nmsu.edu<br />
        <strong>Address:</strong><br /> Military and Veterans Programs<br />
                        New Mexico State University<br />
                        MSC 4740, P.O. Box 30001<br />
                        Las Cruces, NM 88003-8001<br />
 </address>

  

{% endblock content%}
