{%extends "dashboard/base.html" %}
{% block content %}

{% if user.userextended.chapter == '33' or user.userextended.chapter == '31' or user.userextended.chapter == '1606' %}

    <article class="media content-section">
                <img class="rounded-circle img-thumbnail mr-4 grow" src="" />
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted">Available from: 8am to 5pm at Corbett Center Rm 244</small>
                    </div>
                    <h4>Your Official Certifier is:</h4>

                    <h4><a class="article-title" href="#">Zaragoza, Erica</a></h4>
                    <h5>Email: emz0724@ad.nmsu.edu</h5>
                    <h5>Phone#: 5754420984</h5>
                    <p class="article-content">Last Comment: Please contact me if you have any questions.</p>
                </div>
    </article>


{% endif %}

{% if user.userextended.chapter == '30' or user.userextended.chapter == '35' %}

    <article class="media content-section">
                <img class="rounded-circle img-thumbnail mr-4 grow" src="" />
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted">Available from: 8am to 5pm at Corbett Center Rm 244</small>
                    </div>
                    <h4><a class="article-title" href="#">Certifier: Bamford, Gail</a></h4>
                    <h5>Email: gbamford@nmsu.edu</h5>
                    <h5>Phone#: 5756464524</h5>
                    <p class="article-content">Last Comment: Please contact me if you have any questions.{{ user.userextended.progress_student }}</p>
                </div>
    </article>


{% endif %}
<!--Progress bar-->
<div class="progress mb-3" style="height: 50px">
  
    {% if user.userextended.progress_student == 0 %}
      <h5 style="color:dimgrey;">No forms has been certified yet.</h5>
      <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    {% endif %}
    {% if user.userextended.progress_student == 1 %}
      <div class="progress-bar bg-danger" role="progressbar" style="width: 16%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">1/6 forms certified</div>
    {% endif %}
    {% if user.userextended.progress_student == 2 %}
      <div class="progress-bar bg-warning" role="progressbar" style="width: 32%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">2/6 forms certified</div>
    {% endif %}
    {% if user.userextended.progress_student == 3 %}
      <div class="progress-bar bg-warning" role="progressbar" style="width: 48%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">3/6 forms certified</div>
    {% endif %}
    {% if user.userextended.progress_student == 4 %}
      <div class="progress-bar bg-info" role="progressbar" style="width: 64%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">4/6 forms certified</div>
    {% endif %}
    {% if user.userextended.progress_student == 5 %}
      <div class="progress-bar bg-info" role="progressbar" style="width: 83%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">5/6 forms certified</div>
    {% endif %}
    {% if user.userextended.progress_student == 6 %}
      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><h5 style="color:white;">You are now Certified!</h5></div>
    {% endif %}
</div>





 
    {% if user.userextended.is_firsttime %}
        <form method="post" enctype="multipart/form-data">
          <table class="table table-hover">
          <caption></caption>
          <thead class="thead-light">
            <tr>
                <th scope="col">First Visit Files </th>
                <th scope="col">Status</th> 
                <th scope="col">Upload</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><a href="https://www.va.gov/education/how-to-apply/" target="_blank">Certificate of Eligibility</a></td>
                 {% for p in certs %}
                    {%if p.student.username == user.username and p.Certificate_of_eligibility == True %}
                    <td><img src="/media/green_check.png"></td>
                    {%elif p.student.username == user.username and p.Certificate_of_eligibility == False %}
                    <td><img src="/media/red_check.png"></td>
                    {%endif%}
                 {% endfor %}
                <td>
                    {% csrf_token %}
                    {{ cert_form.as_p}}
                </td>
            </tr>
          <tr>
            <td><a href="https://mvp.nmsu.edu/files/2018/09/MVP-Information-Sheet.pdf" target="_blank">NMSU MVP Information Sheet</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.MVP_information_sheet == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.MVP_information_sheet == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %}
            <td>
                {% csrf_token %}
                {{ mvp_form.as_p }}
            </td>
          </tr>
          <tr>
                {%if user.userextended.chapter == '30' or user.userextended.chapter == '1606' or user.userextended.chapter == '35' %}
                    <td><a href="https://mvp.nmsu.edu/files/2018/06/Ch_30_1606_1607_35_Student_Responsibilities.pdf" target="_blank">NMSU MVP Student Responsibilities Form</a></td>
                {% elif user.userextended.chapter == '31' %} 
                    <td><a href="https://mvp.nmsu.edu/files/2018/06/Ch_31_Student_Responsibilities.pdf" target="_blank">NMSU MVP Student Responsibilities Form</a></td> 
                {%else%} 
                    <td><a href="https://mvp.nmsu.edu/files/2018/06/Ch_33_Student_Responsibilities.pdf" target="_blank">NMSU MVP Student Responsibilities Form</a></td> 
                {%endif%}     
            {% for p in certs %}
                {%if p.student.username == user.username and p.Student_responsibility == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Student_responsibility == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ stud_form.as_p }} 
            </td>
          </tr>
              <tr>
            <td><a href="https://mvp.nmsu.edu/files/2018/08/MVP_Waiver.pdf" target="_blank">NMSU MVP Resident Tuition Application </a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Resident_tuition_app == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Resident_tuition_app == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %}  
            <td>
                {% csrf_token %}
                {{ resid_form.as_p }}          
            </td>
          </tr>
           </tbody>
        </table>
      <div style="text-align:right">
            <button class="btn btn-outline-info" type="submit">Upload First Visit Files</button>  
      </div>
      </form>
    {% endif %}
    {% if user.userextended.chapter == '33' %}
      <form method="post" enctype="multipart/form-data">
        <table class="table table-hover">
        <caption></caption>
        <thead class="thead-light">
          <tr>
            <th scope="col">Chapter 33 Files</th>
            <th scope="col">Approved?</th>
            <th scope="col">Upload</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="https://my.nmsu.edu" target="_blank">Concise Student Schedule </a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Concise_student_schedule == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Concise_student_schedule == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ conc_form.as_p }}          
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/" target="_blank">Star Degree Audit</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Star_degree_audit == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Star_degree_audit == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ star_form.as_p }}  
            </td>
          </tr>
          </tbody>
        </table>
       <div style="text-align:right">
            <button class="btn btn-outline-info" type="submit">Upload Chapter 33 Files</button>
       </div>
       </form>
    {% elif user.userextended.chapter == '31' %}
       <form method="post" enctype="multipart/form-data">
       <table class="table table-hover">
        <caption></caption>
        <thead class="thead-light">
          <tr>
            <th scope="col">Chapter 31 Files</th>
            <th scope="col">Approved?</th> 
            <th scope="col">Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu" target="_blank">Concise Student Schedule </a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Concise_student_schedule == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Concise_student_schedule == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ conc_form.as_p }}
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/" target="_blank">Star Degree Audit</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Star_degree_audit == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Star_degree_audit == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ star_form.as_p }}
            </td>
          </tr>
        </table>
        <div style="text-align:right">
            <button class="btn btn-outline-info" type="submit">Upload Chapter 31 Files</button>
        </div>
        </form>
    {% elif user.userextended.chapter == '30' %}
       <form method="post" enctype="multipart/form-data">
       <table style="width:100%">
       <caption></caption>
          <tr>
            <th>Chapter 30 Files</th>
            <th>Approved?</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu" target="_blank">Concise Student Schedule</a></td>
           {% for p in certs %}
                {%if p.student.username == user.username and p.Concise_student_schedule == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Concise_student_schedule == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ conc_form.as_p }}
                
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/" target="_blank">Star Degree Audit</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Star_degree_audit == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Star_degree_audit == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ star_form.as_p }}
            </td>
          </tr>
        </table>
        <div style="text-align:right">
            <button class="btn btn-outline-info" type="submit">Upload Chapter 30 Files</button>
        </div>
        </form>
    {% elif user.userextended.chapter == '35' %}
       <form method="post" enctype="multipart/form-data">
       <table style="width:100%">
       <caption></caption>
          <tr>
            <th>Chapter 35 Files</th>
            <th>Approved?</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu" target="_blank">Concise Student Schedule</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Concise_student_schedule == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Concise_student_schedule == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ conc_form.as_p }}      
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/" target="_blank">Star Degree Audit</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Star_degree_audit == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Star_degree_audit == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ star_form.as_p }}
            </td>
          </tr>
        </table>
        <div style="text-align:right">
            <button class="btn btn-outline-info" type="submit">Upload Chpater 35 Files</button>
        </div> 
       </form>
    {% elif user.userextended.chapter == '1606' %}
       <form method="post" enctype="multipart/form-data">
       <table style="width:100%">
        <caption></caption>
          <tr>
            <th>Chapter 1606 Files</th>
            <th>Approved?</th> 
            <th>Upload</th>
          </tr>
          <tr>
            <td><a href="https://my.nmsu.edu" target="_blank">Concise Student Schedule </a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Concise_student_schedule == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Concise_student_schedule == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ conc_form.as_p }}
            </td>
          </tr>
          <tr>
            <td><a href="https://degreeaudit.nmsu.edu/" target="_blank">Star Degree Audit</a></td>
            {% for p in certs %}
                {%if p.student.username == user.username and p.Star_degree_audit == True %}
                <td><img src="/media/green_check.png"></td>
                {%elif p.student.username == user.username and p.Star_degree_audit == False %}
                <td><img src="/media/red_check.png"></td>
                {%endif%}
             {% endfor %} 
            <td>
                {% csrf_token %}
                {{ star_form.as_p }}
            </td>
          </tr>
        </tbody>
        </table>
        <div style="text-align:right">
             <button class="btn btn-outline-info" type="submit">Upload Chapter 1606 Files</button>
        </div>
        </form>
    {% endif %}
{% endblock content %}